@import "reset";
$green: #195e09;
$black: #0c0c0c;
$grey: #e3e9f2;
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #app {
    max-width: 320px;
    max-height: 320px;
    height: 100vh;
    align-self: center; // margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    .row {
      border-bottom: 1px solid $black;
      display: flex;
      flex: 1;
      &:last-child {
        border-bottom: none;
      }
      .box {
        border-right: 1px solid $black;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 44px;
        flex: 1;
        cursor: pointer;
        &:last-child {
          border-right: none;
        }
        &:hover {
          background: $grey;
        }
      }
    }
  }
}
